body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.nav-main{
  width: 100vw;
  height: 100vh;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100vw;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.login-main{
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container{
  width: 30vw;
  height: 60vh;
  border-radius: 8px;
  border: 1px solid wheat;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content:center;
  align-items: center;
}

.login-container input{
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: white;
  width: 350px;
  height: 35px;
  background-color: #242424;
  border-radius: 5px;
  font-size: 15px;
  margin: 15px 0px 15px 0px;
}
.login-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container input:hover{
  border: 2px solid white;
  transition: all 0.5s ease-in-out;
}

.title{
  margin: 0px;
}

.line{
  width: 300px;
  margin: 20px;
}